<p id="notice"><%= notice %></p>

<h1>Listing Tv Shows</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Url</th>
      <th>Tv show type</th>
      <th>Language</th>
      <th>Status</th>
      <th>Runtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.id %></td>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.url %></td>
        <td><%= tv_show.tv_show_type %></td>
        <td><%= tv_show.language %></td>
        <td><%= tv_show.status %></td>
        <td><%= tv_show.runtime %></td>
        <td><%= link_to 'Show', tv_show %></td>
        <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
        <td><%= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tv show', new_tv_show_path %>
