<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tv_show.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tv_show.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tv_show.url %>
</p>

<p>
  <strong>Tv show type:</strong>
  <%= @tv_show.tv_show_type %>
</p>

<p>
  <strong>Language:</strong>
  <%= @tv_show.language %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tv_show.status %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @tv_show.runtime %>
</p>

<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
